*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding: 1em;
}

.contenant{
    display: flex;
    gap: 1em;
    height: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid;
    height: 100%;
}

.box span{
    display: flex;
    justify-content: space-between;
    height: 2em;
}

.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

.column select{
    background-color: aqua;
}

button{
    background-color: aqua;
    border-radius: 5%;
    margin-top: 20%;
    margin-bottom: 30%;
    height: 50px;
}

.info{
    display: flex;
}

.column:nth-child(2){
    height: 100%;
}

.demarrer{
    width: 50%;
    margin: 0 auto;
}